@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: #868282;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #000428 0%, #004e92 100%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Poppins";
  background: var(--background);
}
.header {
  font-family: "Poppins", serif;
  font-weight: 600;
}

.main-header {
  font-family: "Poppins-semibold", sans-serif;
}
.subHeader {
  font-family: "Roboto Mono";
}

.card-shadow {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 1px solid #ffffff1f;
}

.experienceDetails {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition-delay: 1s;
}

.svgTransform {
  transform: rotate(180deg);
}
