@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
:root {
  --background: linear-gradient(
    15deg,
    #0c0c25 5%,
    /* middle */ #01081b 60%,
    /* top*/ rgba(2, 12, 48, 0.85) 80%,
    /* Lower opacity for smoother blend */ #020c30 95%
  );

  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: linear-gradient(
      15deg,
      #000010 5%,
      #01030f 60%,
      rgba(2, 12, 48, 0.911) 80%,
      #020c30 95%
    ); */

    --background: linear-gradient(
      15deg,
      #0c0c25 5%,
      /* middle */ #01081b 60%,
      /* top*/ rgba(2, 12, 48, 0.85) 80%,
      /* Lower opacity for smoother blend */ #020c30 95%
    );

    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
.header {
  font-family: "Poppins", serif;
  font-weight: 600;
}

.main-header {
  font-family: "Poppins-semibold", sans-serif;
  font-weight: 1000;
  /* letter-spacing: 3.75pt; */
  font-size: 8vw;
}
.subHeader {
  font-family: "Roboto Mono", sans-serif;
}

.card-shadow {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 1px solid #ffffff1f;
}

.svgTransform {
  transform: rotate(180deg);
}

.spacing25 {
  letter-spacing: 0.25pc;
}

#__next-build-watcher,
#nextjs-toast,
#nextjs-static-indicator-toast-wrapper {
  display: none !important;
}
